#header {
  text-align: center;
  font-weight: bolder;
  font-size: 5em;
  margin-bottom: 20px;
  line-height: 90px;
}

.container {
  font-family: 'Eater', serif;
}

#startbutton {
  margin-left: 48%;
  margin-top: 10px;
}

#timer {
  text-align: center;
}

#timer:before {
  content: "Time elapsed: ";
}

#card {

}

.card {
  border: 2px solid black; 
  font-family: 'Eater', serif;
  font-weight: bold;
  font-size: 8em;
  height: 140px;
  margin-bottom: 20px; 
  border-radius: 30px;
  text-align: center;
  background-color: #e2675d;
}

.row {
  margin-top: 30px;
}

.letter {
  display: block;
  margin-top: 50px;
}
