#timer:before {
  content: "Time elapsed: ";
}

#card {

}

.card {
  border: 2px solid black; 
  font-family: 'Oleo Script Swash Caps', serif;
  font-weight: bold;
  font-size: 5em;
  height: 140px;
  margin-bottom: 20px; 
  border-radius: 30px;
  text-align: center;
}

.row {
  margin-top: 30px;
}

.letter {
  display: block;
  margin-top: 60px;
}